<section id="left">	
	<div id="left-top">
		<div id="left-top-img">
			<img src="http://ddragon.leagueoflegends.com/cdn/{{ddversion}}/img/profileicon/{{ info.img }}.png " alt="icons-summoner" >
			<span id="level-joueur">{{ info.level }}</span>
		</div>
			<h2 class="card-title">{{ info.name }}</h2>
	</div>
	<div id="left-bottom" class="z-depth-1">
			<h3>SoloQ</h3>
		<div id="left-bottom-top">
			<ul class="collection">
				<img src="http://localhost:3030/dist/img/tier-icons/base-icons/{{ info.tier }}.png " alt="icons-rank" >
				
				<li class="collection-item">Rang : {{ info.tier }} {{ info.rank }} ------->   LP : {{ info.lp }}</li>
				<li class="collection-item">Wins : {{ info.wins }} | Losses : {{ info.losses }} | Winrate : {{ info.winrate }} % </li>
			</ul>
		</div>
	</div>
</section>
<section id="right">
	
</section>
